@model OSRRKAYP.BusinessLogic.DTOs.UpdateProductDto

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Modificar Producto</h4>

<hr />

<form asp-action="Edit">

    <div asp-validation-summary="ModelOnly"
         class="text-danger">
    </div>

    <input asp-for="ProductId"
           type="hidden"
           class="form-control" />

    <div class="row">

        <div class="form-group col-4">

            <label asp-for="BrandId"
                   class="control-label">
                Marca
            </label>

            <select asp-for="BrandId"
                    class="form-control"
                    asp-items="ViewBag.BrandId">
            </select>

            <span asp-validation-for="BrandId"
                  class="text-danger">
            </span>

        </div>

        <div class="form-group col-4">

            <label asp-for="SupplierName"
                   class="control-label">
                Proveedor
            </label>

            <input asp-for="SupplierName"
                   class="form-control" />

            <span asp-validation-for="SupplierName"
                  class="text-danger">
            </span>

        </div>

        <div class="form-group col-3">

            <label asp-for="ProductCode"
                   class="control-label">
                Código
            </label>

            <input asp-for="ProductCode"
                   class="form-control" />

            <span asp-validation-for="ProductCode"
                  class="text-danger">
            </span>

        </div>

        <div class="form-group col-3">

            <label asp-for="ProductName"
                   class="control-label">
                Nombre
            </label>

            <input asp-for="ProductName"
                   class="form-control" />

            <span asp-validation-for="ProductName"
                  class="text-danger">
            </span>

        </div>

        <div class="form-group col-6">

            <label asp-for="ProductDescription"
                   class="control-label">
                Descripción
            </label>

            <input asp-for="ProductDescription"
                   class="form-control" />

            <span asp-validation-for="ProductDescription"
                  class="text-danger">
            </span>

        </div>

        <div class="form-group col-3">

            <label asp-for="ProductImage"
                   class="control-label">
                Imagen
            </label>

            <input asp-for="ProductImage"
                   class="form-control" />

            <span asp-validation-for="ProductImage"
                  class="text-danger">
            </span>

        </div>

        <div class="form-group col-3">

            <label asp-for="PriceUnitPurchase"
                   class="control-label">
                Precio Compra
            </label>

            <input asp-for="PriceUnitPurchase"
                   class="form-control" />

            <span asp-validation-for="PriceUnitPurchase"
                  class="text-danger">
            </span>

        </div>

        <div class="form-group col-3">

            <label asp-for="PriceUnitSale"
                   class="control-label">
                Precio Venta
            </label>

            <input asp-for="PriceUnitSale"
                   class="form-control" />

            <span asp-validation-for="PriceUnitSale"
                  class="text-danger">
            </span>

        </div>

        <div class="form-group col-3">

            <label asp-for="Stock"
                   class="control-label">
                Existencias
            </label>

            <input asp-for="Stock"
                   class="form-control" />

            <span asp-validation-for="Stock"
                  class="text-danger">
            </span>

        </div>

        <div class="form-group form-check col-3 mt-4">

            <label class="form-check-label">

                <input class="form-check-input"
                       asp-for="ProductStatus" />

                @Html.DisplayNameFor(model => model.ProductStatus)

            </label>

        </div>

        <div class="form-group mt-3">

            <input type="submit"
                   value="Guardar"
                   class="btn btn-primary" />

            <a asp-action="Index"
                   class="btn btn-info">
                Cancelar
            </a>

        </div>

    </div>

</form>

@section Scripts
{
    @{
        await Html.RenderPartialAsync
        ("_ValidationScriptsPartial");
    }
}
